@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f1f5f9;
    color: #1e293b;
    font-size: 13px; 
}

header {
    background: #0f172a;
    padding: 10px 60px;
    display: flex;
    justify-content: flex-end;
}

header button {
    padding: 8px 16px;
    background: #38bdf8;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
}

#cv {
    width: 210mm;
    margin: 0 auto;
    background: white;
}

.hero {
    padding: 25px 50px; 
    background: linear-gradient(to right, #0f172a, #1e293b);
    color: white;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text h1 {
    font-size: 24px; 
    font-weight: 700;
    letter-spacing: 1px;
}

.hero-text h2 {
    font-size: 16px;
    color: #38bdf8;
    margin: 2px 0;
}

.hero-text p {
    max-width: 550px;
    line-height: 1.4;
    color: #cbd5f5;
    font-size: 11px;
}

.hero-img img {
    width: 100px; /* Dari 220px */
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid rgba(255,255,255,0.1);
}

.content {
    display: flex;
    gap: 15px;
    padding: 15px 50px; 
}

.left { width: 30%; }
.right { width: 70%; }

/* CARD */
.card {
    background: white;
    padding: 12px; 
    border-radius: 8px;
    margin-bottom: 12px;
    border: 1px solid #f1f5f9;
}

.card h3 {
    margin-bottom: 8px;
    font-size: 13px;
    border-bottom: 2px solid #e2e8f0;
    padding-bottom: 3px;
    text-transform: uppercase;
}

.card p, .card li {
    font-size: 10.5px; 
    margin-bottom: 4px;
}

.card i {
    color: #38bdf8;
    margin-right: 5px;
}

ul { padding-left: 12px; }


.done-list li { margin-bottom: 6px; list-style: none; }
.done-list li strong {
    display: block;
    font-size: 11px;
    color: #0f172a;
}
.done-list li p {
    font-size: 10px;
    line-height: 1.3;
    text-align: justify;
}


.exp-item { margin-bottom: 8px; }
.exp-item h4 { font-size: 12px; color: #0f172a; }
.exp-item span { font-size: 9.5px; color: #64748b; }
.exp-item p { font-weight: 500; }


@media print {
    body { background: white; }
    header { display: none; }
    #cv { width: 100% !important; height: 100%; }
    .hero { padding: 15px 35px !important; }
    .hero-img img { width: 80px !important; height: 80px !important; }
    .hero-text h1 { font-size: 20px !important; }
    .content { padding: 10px 35px !important; gap: 10px !important; }
    .card { padding: 10px !important; margin-bottom: 8px !important; }
    .card p, .card li, .exp-item p, .done-list li p { font-size: 9.5px !important; }
}